<div *ngIf="!this.loginService.getRol().includes('Chofer')">
  <h2>
    Paquetes
  </h2>
  <mat-tab-group (selectedTabChange)="onChangeTab($event)">
    <mat-tab label="Todos">
      <paquetes-table [paquetes]="paquetes" [tabIndex]="tabIndex"></paquetes-table>
    </mat-tab>
    <mat-tab label="Almacenados">
      <paquetes-table [paquetes]="paquetes" [tabIndex]="tabIndex">
      </paquetes-table>
    </mat-tab>
    <mat-tab label="Preparados">
      <paquetes-table [paquetes]="paquetes" [tabIndex]="tabIndex" (onAsignarPaquetes)="onAsignarPaquetes()">
      </paquetes-table>
    </mat-tab>
    <mat-tab label="Asignados">
      <paquetes-table [paquetes]="paquetes" [tabIndex]="tabIndex"></paquetes-table>
    </mat-tab>
    <mat-tab label="En camino">
      <paquetes-table [paquetes]="paquetes" [tabIndex]="tabIndex"></paquetes-table>
    </mat-tab>
    <mat-tab label="Entregados">
      <paquetes-table [paquetes]="paquetes" [tabIndex]="tabIndex"></paquetes-table>
    </mat-tab>
  </mat-tab-group>

  <floating-button (onClick)="onClickAddPaquete()"></floating-button>
</div>

<div *ngIf="this.loginService.getRol().includes('Chofer')">
  <h2>
    Paquetes
  </h2>
  <paquetes-table (onUpdatePaquete)="updatePaquete($event)" [paquetes]="paquetes" [tabIndex]="6"></paquetes-table>
</div>