<h1 mat-dialog-title>Añadir empleado</h1>
<div mat-dialog-content>
  <mat-form-field>
    <input matInput placeholder="Nombre de usuario" [(ngModel)]="empleado.username">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Contraseña" [(ngModel)]="empleado.password">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Rol</mat-label>
    <mat-select [(value)]="empleado.rol">
      <mat-option *ngFor="let rol of rolesOptions" [value]="rol">{{rol}}</mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button (click)="onClickAddEmpleado()" [disabled]="!(empleado.username && empleado.password && empleado.rol)"
    mat-raised-button color="primary">
    Añadir usuario
  </button>
  <button mat-stroked-button (click)="onCancelarClick()">Cancelar</button>
</div>