<mat-card *ngIf="show">
  <mat-card-title>Login</mat-card-title>
  <mat-card-content>
    <form [formGroup]="form" (ngSubmit)="onLogin()">
      <p>
        <mat-form-field>
          <input type="text" matInput placeholder="Nombre" formControlName="username" />
        </mat-form-field>
      </p>

      <p>
        <mat-form-field>
          <input type="password" matInput placeholder="Contraseña" formControlName="password" />
        </mat-form-field>
      </p>

      <p *ngIf="error" class="error">
        {{ error }}
      </p>

      <div class="button">
        <button type="submit" mat-button>Ingresar</button>
      </div>
    </form>
  </mat-card-content>
</mat-card>