<div>
  <mat-nav-list>
    <mat-list-item *ngFor="let menuItem of menuItems" (click)="onClickMenuItem(menuItem)">
      <button mat-icon-button>
        <mat-icon>{{ menuItem.icon }}</mat-icon>
      </button>
      <p matLine>{{ menuItem.nombre }}</p>
    </mat-list-item>
  </mat-nav-list>
</div>