<mat-toolbar color="primary" jcsb>
  <div>
    Paquetería App
  </div>
  <div>
    Bienvenido
  </div>
  <div>
    <button mat-button (click)="onClickCerrarSesion()">Cerrar sesión</button>
  </div>
</mat-toolbar>