<h1 mat-dialog-title>Agregar paquete al almacen</h1>
<div mat-dialog-content>
  <mat-form-field>
    <input matInput placeholder="Titulo" [(ngModel)]="paquete.titulo">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Descripción" [(ngModel)]="paquete.descripcion">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Tamaño</mat-label>
    <mat-select [(value)]="paquete.tamanio">
      <mat-option *ngFor="let tamanio of tamanioOptions" [value]="tamanio">{{tamanio}}</mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button (click)="onClickAddPaquete()" [disabled]="!(paquete.descripcion && paquete.tamanio)" mat-raised-button
    color="primary">
    Añadir paquete
  </button>
  <button mat-stroked-button (click)="onCancelarClick()">Cancelar</button>
</div>