<div fxLayout="row" fxLayoutAlign="center center" height="300px" *ngIf="loading">
  <div marginTop="80px">
    <mat-spinner></mat-spinner>
  </div>
</div>
<table *ngIf="!loading" mat-table [dataSource]="paquetes" class="mat-elevation-z8">
  <ng-container matColumnDef="titulo">
    <th mat-header-cell *matHeaderCellDef>Descripción</th>
    <td mat-cell *matCellDef="let element">{{element.titulo}}</td>
  </ng-container>
  <ng-container matColumnDef="descripcion">
    <th mat-header-cell *matHeaderCellDef>Descripción</th>
    <td mat-cell *matCellDef="let element">{{element.descripcion}}</td>
  </ng-container>
  <ng-container matColumnDef="tamanio">
    <th mat-header-cell *matHeaderCellDef>Tamaño</th>
    <td mat-cell *matCellDef="let element">{{element.tamanio}}</td>
  </ng-container>
  <ng-container matColumnDef="fechaCreacion">
    <th mat-header-cell *matHeaderCellDef>Fecha de llegada</th>
    <td mat-cell *matCellDef="let element">{{element.fechaCreacion | date:'medium'}}</td>
  </ng-container>
  <ng-container matColumnDef="nombreDestinatario">
    <th mat-header-cell *matHeaderCellDef>Destinatario</th>
    <td mat-cell *matCellDef="let element">{{element.nombreDestinatario}}</td>
  </ng-container>
  <ng-container matColumnDef="domicilio">
    <th mat-header-cell *matHeaderCellDef>Domicilio</th>
    <td mat-cell *matCellDef="let element">{{element.domicilio}}</td>
  </ng-container>
  <ng-container matColumnDef="tipoServicio">
    <th mat-header-cell *matHeaderCellDef>Tipo Servicio</th>
    <td mat-cell *matCellDef="let element">{{element.tipoServicio}}</td>
  </ng-container>
  <ng-container matColumnDef="choferAsignado">
    <th mat-header-cell *matHeaderCellDef>Chofer Asignado</th>
    <td mat-cell *matCellDef="let element">{{element.choferAsignadoId.username}}</td>
  </ng-container>
  <ng-container matColumnDef="status">
    <th mat-header-cell *matHeaderCellDef>Status</th>
    <td mat-cell *matCellDef="let element">
      <paquete-status [paqueteStatus]="element.status"></paquete-status>
    </td>
  </ng-container>
  <ng-container matColumnDef="select">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let row">
      <button mat-button mat-stroked-button color="primary" (click)="onClickPrepararPaquete(row)">
        Enviar paquete
      </button>
    </td>
  </ng-container>
  <ng-container matColumnDef="opcion">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let row">
      <button [disabled]="row.status !== paqueteStatus.PaqueteAsignado" marginRight="5px" mat-button mat-stroked-button
        color="accent" (click)="onEnCamino(row._id)">
        En camino
      </button>
      <button [disabled]="row.status !== paqueteStatus.PaqueteEnCamino" mat-stroked-button color="primary"
        (click)="onEntregado(row._id)">
        Entregado
      </button>
    </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="columns"></tr>
  <tr mat-row *matRowDef="let row; columns: columns;"></tr>
</table>
<div marginTop="20px" fxLayout="row" fxLayoutAlign="end" *ngIf="_tabIndex !== 6 && _tabIndex == 2">
  <button mat-raised-button color="primary" (click)="asignarPaquetes()" *ngIf="paquetes.length > 0">
    Asignar paquetes a los choferes
  </button>
</div>