<h1 mat-dialog-title>Preparar paquete para su envío</h1>
<div mat-dialog-content>
  <mat-form-field>
    <input matInput placeholder="Nombre destinatario" [(ngModel)]="paquete.nombreDestinatario">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Domicilio" [(ngModel)]="paquete.domicilio">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Tipo de servicio</mat-label>
    <mat-select [(value)]="paquete.tipoServicio">
      <mat-option *ngFor="let tipoServicio of tipoServiciosOptions" [value]="tipoServicio">
        {{tipoServicio}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button (click)="onClickPrepararPaquete()"
    [disabled]="!(paquete.nombreDestinatario && paquete.domicilio && paquete.tipoServicio)" mat-raised-button
    color="primary">
    Preparar
  </button>
  <button mat-stroked-button (click)="onCancelarClick()">Cancelar</button>
</div>