<h2>
  Empleados
</h2>
<table mat-table [dataSource]="usuarios" class="mat-elevation-z8">
  <ng-container matColumnDef="nombre">
    <th mat-header-cell *matHeaderCellDef>Nombre</th>
    <td mat-cell *matCellDef="let element">{{element.username}}</td>
  </ng-container>
  <ng-container matColumnDef="rol">
    <th mat-header-cell *matHeaderCellDef>Rol</th>
    <td mat-cell *matCellDef="let element">{{element.rol}}</td>
  </ng-container>
  <ng-container matColumnDef="password">
    <th mat-header-cell *matHeaderCellDef>Contraseña</th>
    <td mat-cell *matCellDef="let element">{{element.password}}</td>
  </ng-container>
  <ng-container matColumnDef="opcion">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let row">
      <button marginRight="10px" mat-stroked-button color="primary" (click)="onModificarEmpleado(row)">
        Modificar
      </button>
      <button mat-button mat-stroked-button color="warn" (click)="onBorrarEmpleado(row._id)">
        Borrar
      </button>
    </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="columns"></tr>
  <tr mat-row *matRowDef="let row; columns: columns;"></tr>
</table>
<floating-button (onClick)="onClickAddEmpleado()"></floating-button>